@import url('./_reset.css');

body {
  background: #E5CCFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;
  width: 100%;
  height: 10vh;
}

.app-container {
  padding: 20px;
}

.main-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.filter-panel {
  display: flex;
  flex-direction: column;

  max-width: 100%;

  margin-bottom: 10px;
}

.output-toggle {
  display: inline-block;
  align-self: flex-end;
}

.task-title {
  font-weight: bold;
}

.task-card-element {
  margin: 10px;
}

.pagination {
  align-self: center;
}

.form-section {
  margin: 20px 0;
}

.form-section p {
  margin-bottom: 10px;
}

form button {
  margin-right: 10px;
}

@media (min-width: 770px) {
  .filter-panel {
    flex-direction: row;
    justify-content: space-between;
  }
}
